@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body, html {
    height: calc(100% - 2em);
    margin: 0;
    font-family: "Inconsolata", "Times New Roman";
}

p {
    margin-left: 4%;
}

h6 {
    margin-left: 5%;
}

#table1 {
    display: grid;
    grid-template-columns: [first1] 50% [mid] 50% [last1];
}

#skill_1 {
    grid-column-start: first1;
    grid-column-end: mid;
    list-style-position: inside;
}

#implemented_1 {
    grid-column-start: mid;
    grid-column-end: last1;
    list-style-position: inside;
}

.mdl-layout__content {
    background: -webkit-linear-gradient(45deg, #fff 10%, #948F8F 100%);
    background: linear-gradient(45deg, #fff 10%, #948F8F 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.mdl-card__media {
    background-color: palegreen;
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-origin: padding-box;
    background-attachment: scroll;
    box-sizing: border-box;
}

#Dijkstra {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    min-height: auto;
    width: auto;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 5px 20px 10px;
}

table {
    background-color: antiquewhite;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #fffff0;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: aliceblue;
}

#sectionView {
    display: grid;
    grid-template-columns: [first] 250px [line2a] 250px [line2b] 250px [line2c] 250px [line2d] 250px [line3] 250px [lastCol];
    grid-template-rows: [row1] 6000px [row2] 525px [row3] auto [lastRow];
}

@media only screen and (min-device-width: 768px){
    #Dijkstra {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 16px;
        font-weight: 400;
        overflow: hidden;
        min-height: auto;
        width: auto;
        z-index: 1;
        position: relative;
        background: #fff;
        border-radius: 2px;
        box-sizing: border-box;
        margin: 5px 100px 10px;
    }
}
/*aside {
    color: #fff;
    display: grid;
    grid-template-columns: auto 100px;

}

img {
    width: 40px;
    cursor: pointer;

}

figure {
    margin: 0;

}

figcaption {
    font-size: 1.3em;
    font-weight: bold;
}

nav {
    background: #fff;
}

.active {
    position: absolute;
    display: block;
    background: #fff;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    display: block;
    padding: 1.5em 3em;
    background-color: rgba(255, 255, 255, 0.35);
    color: #000;
}

main {
    background: #fff;
    padding: 1em 1.4em;
}

h1 {
    margin: 0;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
}

.cta {
    display: block;
    color: #fff;
    background: deepskyblue;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
}





    body {
        display: grid;
        grid-template-columns: 20% auto;
        padding: 2em;
    }

    img {
        display: none;
    }

    aside {
        background: #C4C4C4;
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
        padding: 0;
    }

    main {
        padding: 4em;
        background-size: 70%;
    }

    #avatar {
        border-radius: 50%;
        background: black;
        width: 50px;
        height: 50px;
        margin: 2em auto 1em auto;
    }

    figcaption {
        text-align: center;
        color: #000;
    }

    ul {
        display: block;
        margin-top: 2em;
        position: relative !important;
        background: none !important;
        width: 100% !important;
    }

    ul li a:hover {
        background: #fff;
    }

    nav {
        background: none;
    }

    .cta {
        display: inline-block;
        font-size: 1.3em;
        padding: .8em 3em;
    }

    h1 {
        font-size: 3em;
        
    }
    
}*/