body {
    background-color: #C4C4C4;
    background: -webkit-linear-gradient(45deg, #CACACA 0%, #948F8F 100%);
    background: linear-gradient(45deg, #CACACA 0%, #948F8F 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}